%h2 Resend confirmation instructions

= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %ul
  	%li
  		= f.label :email
  	%br
  		= f.email_field :email
  	%li
  		= f.submit "Resend confirmation instructions"

= render "links"