!!! 5
%html{:lang => "en"}
  = render partial: 'layouts/head'
  %body
    #container_fluid
      = yield

  / Placed at the end of the document so the pages load faster
  = gmaps_libs_now map_options: {provider: :google, :provider_key => 'AIzaSyAldHWZicBdBhSrd4xC2uh3cVIwEdWFfiY'}
  = yield :scripts
  = yield :jquery_ui_helpers
  = javascript_include_tag "application"
